body{
    margin: 0;
    box-sizing: border-box;
    background: #7AB271;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
.button-wrap{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-click-button{
    width: 480px;
    height: 400px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/frog.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1000;
}
.main-click-button:hover{
    transform: scale(1.1);
}
.main-click-button:active{
    background-position: 0 -1%;
}
.main-click-button p{
    user-select: none;
    color: #fff;
    font-size: 30PX;
    text-align: center; 
    text-transform: uppercase;
    text-align: center;
}
.score{
    color: #fff;
    font-size: 30px;
    user-select: none;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score::after{
    content: "";
    color: #7AB271;
    width: 50px;
    height: 50px;
    background: url(../img/muha.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: 42%;

}
.bg{
    width: 260px;
    height: 260px;
    background: url(../img/bg.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg1{
    left: 60px;
    top: 180px;
    transform: rotate(99deg);
}
.bg2{
    right: 55px;
    top: 37px;
    transform: rotate(8deg);
}
.bg3{
    left: 415px;
    top: 357px;
    transform: rotate(60deg);
}
.bg4{
    right:0;
    bottom: 144px;
    transform: rotate(108deg);
}
.bg5{
    left: 0px;
    bottom: 10px;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
@media (max-width:1000px) {
    .container{
        width: 700px;
    }
    .bg{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:700px) {
    .container{
        width: 480px;
    }
    .bg{
        width: 100px;
        height: 100px;
    }
    .bg3{
        display: none;
    }
}
@media (max-width:480px) {
    .container{
        width:100%
    }
    .main-click-button{
        width: 320px;
        height: 300px;
    }
}